*
!.gitignore
!README.md

# include
!alacritty
!alacritty/**
!apt
!apt/**
!bash_aliases
!bashrc
!inputrc
!neofetch
!neofetch/**
!nix
!nix/**
!nvim
!nvim/**
!profile
!pycodestyle
!scripts
!scripts/**
!tmux
!tmux/**

# exclude
nvim/lazy-lock.json
